* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: teko;
    src: url(../media/Teko-Regular.ttf);
}

.logo {
    height: 30px;


}

/* Color : 0F0F10,F3F7FB,EB7FF3,BFC8C8 */
body {
    font-family: Arial, sans-serif;
    background-color: #0F0F10;
    color: #F3F7FB;
}

.main {

    height: 80vh;
    width: 100vw;
}

.nav {
    background-color: #F3F7FB;
    height: 45px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 45px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #0F0F10;
    font-family: Teko;
}

.nav>.left>.title {
    font-size: 30px;
    font-weight: bold;
}

.nav>.right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav>.right>.icon {
    background-color: #000;
    height: 5vh;
    width: 5vh;
    color: #F3F7FB;
    border-radius: 3vh;
    align-items: center;
    text-align: center;

}

.main>.left {
    width: 45px;
    height: 90vh;
    background-color: #F3F7FB;
    padding: 20px;
    color: #0F0F10;
    font-family: Teko;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 45px;


}