* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "trip sans";
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.left-side {
    background-color: #0F0F10;
    height: 100%;
    width: 50%;
    color: #F3F7FB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.left-side img {
    position: absolute;
    max-width: 100%;
    height: auto;

}

.left-side p {
    top: 72%;
    position: absolute;
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
    line-height: 1.5;
    z-index: 2;
    font-family: "trip sans";
    font-weight: 700;
    line-height: 1.5vw;
}

.right-side {
    background-color: #fff;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 4.5vh;

}

.right-side .form-header h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0F0F10;

}

.right-side .form-header .form-description {
    font-size: 1.2rem;
    color: #0F0F10;
}


.right-side form input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.right-side form button {
    width: 86%;
    height: 2.5vw;
    padding: 10px;
    margin: 10px 0;
    background-color: #0F0F10;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 2.5vh;
}