@font-face {
  font-family: teko;
  src: url(../fonts/Teko/Teko-Regular.ttf);
}

.liquidGlassCotainer {
  background-color: #00000094;
  height: 100%;
  width: 100%;
}


/* LIQUID GLASS STYLES */

.liquidGlass-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  font-weight: 600;
  overflow: hidden;
  color: black;
  cursor: pointer;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.liquidGlass-effect {
  position: absolute;
  z-index: 0;
  inset: 0;
  backdrop-filter: blur(3px);
  filter: url(#glass-distortion);
  overflow: hidden;
  isolation: isolate;
}

.liquidGlass-tint {
  z-index: 1;
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.1);
}

.liquidGlass-shine {
  position: absolute;
  inset: 0;
  z-index: 2;
  overflow: hidden;
  box-shadow: 2px 2px 1px 0 rgba(255, 255, 255, 0.8),
    -1px -1px 1px 1px rgba(255, 255, 255, 0.8);
}

.liquidGlass-text {
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vw;
}

.liquidGlass-text .left {
  margin-left: 20px;
  font-size: 1.2rem;
}
.liquidGlass-text .right {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}
.liquidGlassCotainer{
  background-color: #00000094;
  height: 100%;
  width: 100%;
}


nav {
  height: 4vw;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  overflow: hidden;
 transform-origin: center center;
  transition: all 0.3s ease;
}
/* nav {
  font-family: teko;
  width: 100%;
  height: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  mix-blend-mode: difference;
  padding: 0 4vw;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  border: 1px solid hsl(0,0%, 100%, 0.3); 
   background: hsl(0,0%, 100%, 0.2);
} */

nav a {
  text-decoration: none;
  color: white;
}

.navRight {
  width: calc(100% / 3);
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5vw;
  overflow: hidden;
}

.navLeft {
  width: calc(100% / 3);
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5vw;
  overflow: hidden;
}

.navcenter {
  width: calc(100% / 3);
  display: flex;
  align-items: start;
  justify-content: space-between;
  overflow: hidden;
  gap: 32px;
  height: 2vw;
}

.navCenterHover:hover {
  margin-top: -2.9vw;
  transition: all 0.3s;
  color: #eb7ef2;
}

.navCenterHover a:hover {
  color: #eb7ef2;
}

.navLeftHover {
  padding: 1vw 2vw;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 2.2vw;
  transition: all 0.3s;
}

.navLeft a {
  text-decoration: none;
  color: white;
}

.navLeftHover:hover {
  border-radius: 5vw;
  color: #eb7ef2;
  border-color: #eb7ef2;
  scale: 0.9;
}

.navLeftHover a:hover {
  color: #eb7ef2;
}

.navCenterHover a {
  font-size: 2vw;
  cursor: pointer;
  text-decoration: none;
}

.navLeft a span {
  color: #eb7ef2;
  text-decoration: none;
}

.signin {
  padding: 1vw 2vw;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 1.2vw;
  transition: all 0.3s;
}

.signin:hover {
  border-radius: 2vw;
  color: #eb7ef2;
  border-color: #eb7ef2;
  scale: 0.9;
}

.acc_btn:hover {
  border-radius: 2vw;
  color: #eb7ef2;
  border-color: #eb7ef2;
  scale: 0.9;
}

.acc_btn {
  padding: 1vw 1vw;
  font-size: 1.2vw;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}
