@font-face {
    font-family: teko;
    src: url(../fonts/Teko/Teko-Regular.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    position: relative;
    font-family: teko;
    background-color: black;
    color: white;
}

main {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}


/* loader */

.loader {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: black;
    z-index: 99;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.con {
    height: 7vw;
    overflow: hidden;
}

.con>h1 {
    font-size: 10vw;
    text-transform: uppercase;
    line-height: 8vw;
}


/* page-1 */

.page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    background: black;
    overflow: hidden;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: 210vh;
    width: 180vw;
    scale: 1.3;
    transform: translateX(-14%);
}

.imgrow1,
.imgrow2,
.imgrow3,
.imgrow4,
.imgrow5 {
    height: 100%;
    width: calc(100% / 5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: -50vh;
    overflow: hidden;
}

.imgcontainer {
    height: calc(100% / 5);
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.imgcontainer img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.herotext {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.623);
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.herotext h3 {
    color: white;
    font-size: 10vw;
    text-transform: uppercase;
    /* letter-spacing: 1vw; */
    font-weight: 900;
}

.scroll-down {
    padding: 0.3vw 2vw;
    border-radius: 2vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0vh;
    color: #fff;
    z-index: 3;
    backdrop-filter: blur(2px);
    /* -webkit-backdrop-filter: blur(10px); */
    border: 1px solid hsl(0, 0%, 100%, 0.3);
    background: hsl(0, 0%, 100%, 0.2);
}

.scroll-down h4 {
    font-size: 1.3vw;
}

.scroll-p {
    width: 6vw;
    height: 3px;
    border-radius: 50px;
    background-color: #ffffff55;
}

.scrolling {
    width: 0vw;
    height: 3px;
    border-radius: 50px;
    background-color: #fff;
}

.gradient {
    height: 100vh;
    width: 100%;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent); */
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.377), transparent, rgba(0, 0, 0, 0.623));
    position: absolute;
    z-index: 2;
}


/* page2 */

.page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10vw;
}

.container .top {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    line-height: 8vw;
    mix-blend-mode: lighten;
}

.container .bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top h1 {
    font-size: 8vw;
    font-weight: 400;
}

h1 span {
    color: #eb7ef2;
}

.pg2bottomleft {
    width: calc(100% / 3);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.squre1 {
    height: 10vw;
    width: 10vw;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 2vw;
    text-align: center;
    border-radius: 1vw;
    margin-bottom: 1vw;
}

.pg2bottomCneter {
    width: calc(100% / 3);
    height: 100%;
}

.pg2bottomRight {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1vw;
    font-family: roboto;
}

.OpenACCBTN {
    padding: 0.6vw 1vw;
    border-radius: 2vw;
    background-color: #eb7ef2;
    cursor: pointer;
}

.pg2BTN {
    padding: 0.6vw 1vw;
    border-radius: 2vw;
    cursor: pointer;
}

.pg2bottomCneterImg1 {
    position: relative;
    transform: rotate(-80deg);
    scale: 0.6;
    margin-top: -3vw;
    transition: all 0.5s;
    z-index: -1;
    opacity: 0.9;
}

.pg2bottomCneterImg2 {
    position: absolute;
    transform: rotate(120deg);
    scale: 0.7;
    margin-top: -20vw;
    transition: all 0.3s;
    padding: 2vw;
    z-index: -1;
}

.pg2bottomCneterImg3 {
    position: absolute;
    transform: rotate(244deg);
    scale: 0.6;
    margin-top: -25vw;
    margin-left: -5vw;
    transition: all 0.3s;
    padding: 2vw;
    z-index: -2;
    opacity: 0.8;
}

.pg2bottomCneterImg1,
.pg2bottomCneterImg2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


/* page3 */

.page3 {
    height: 187vh;
    width: 100%;
    position: relative;
    padding: 5vw 4vw;
    overflow: hidden;
}

.rowContaier {
    width: 100%;
    position: relative;
}

.row {
    height: 35vh;
    width: 100%;
    border-bottom: 1px solid grey;
}

.row1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row1 h1 {
    font-size: 25vw;
    letter-spacing: 4vw;
    text-transform: uppercase;
}

.rowContent {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}

.rowC1 {
    width: calc(100% / 4);
}

.number {
    border: 1px solid white;
    border-radius: 2vw;
    padding: 0.2vw 2vw;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eb7ef2;
}

.rowCtext {
    height: 100%;
    width: 45%;
    font-size: 8vw;
    font-weight: 100;
    line-height: 6vw;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.rowCDescribtion {
    height: 100%;
    width: 26%;
    font-size: 1.55vw;
    line-height: 1.7vw;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    color: #eb7ef2;
    font-family: roboto;
    font-weight: 100;
}

.rowRound {
    height: 50%;
    width: 10%;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    color: #eb7ef2;
}


/* page4 */

.part-4 {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.lft-part-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3vw;
    width: 50%;
    height: 100%;
}

.lft-part-4 h1 {
    font-size: 7vw;
}

.cir-part-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background-color: #f5f5f5;
    font-size: 2vw;
}

.cir-part-4 img {
    height: 50%;
    width: 50%;
    object-fit: cover;
    object-position: center;
}

.rght-part-4 {
    display: flex;
    flex-direction: column;
    gap: 40vh;
    width: 50%;
    height: 200%;
    margin-top: 25%;
    padding-left: 8vw;
}

.content-rght-part-4 {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    opacity: 0;
}

.content-rght-part-4 h1 {
    font-size: 2.5vw;
}

.content-rght-part-4 p {
    font-size: 1.5vw;
    width: 75%;
}


/* page5 */

.page5 {
    height: 100vh;
    width: 100%;
    position: relative;
}

.part-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
}

.our-work-txt {
    position: absolute;
    width: 60vw;
    height: 0vh;
    z-index: 9;
}

#our {
    position: absolute;
    top: 0;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 5vw;
}

#work {
    position: absolute;
    bottom: 0;
    right: 45%;
    transform: translate(50%, 50%);
    color: #eb7ef2;
    font-size: 5vw;
}

.our-work-txt-div {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60vw;
    height: 0vh;
    background-color: #fff;
}

.scroll-work {
    width: 100%;
    height: 60vh;
    background-color: black;
    overflow: hidden;
}

.scroll-img {
    width: 100%;
    margin-top: 0%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    overflow: hidden;
}

.scroll-img .imgdiv {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgdiv h1 {
    font-size: 4vw;
    font-weight: 100;
    font-family: roboto;
    z-index: 1;
    /* text-shadow: 2px 2px 8px #000; */
}

.imgdiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    border-radius: 1vw;
    overflow: hidden;
    opacity: 0.5;
}


/* ----------------page6---------------- */

.page6 {
    height: 100vh;
    width: 100%;
    position: relative;
}


/* Responsive Styles */

@media (max-width: 900px) {
    html,
    body {
        font-size: 14px;
    }
    .content {
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        scale: 1;
        transform: none;
        gap: 16px;
    }
    .imgrow1,
    .imgrow2,
    .imgrow3,
    .imgrow4,
    .imgrow5 {
        flex-direction: row;
        width: 100vw;
        height: auto;
        margin-top: 0;
        gap: 10px;
    }
    .imgcontainer {
        height: auto;
        width: 18vw;
        min-width: 80px;
        border-radius: 6px;
    }
    .herotext h3 {
        font-size: 8vw;
    }
    .scroll-down {
        padding: 1vw 4vw;
        border-radius: 4vw;
        bottom: 4%;
    }
    .scroll-down h4 {
        font-size: 3vw;
    }
    .scroll-p {
        width: 20vw;
        height: 4px;
    }
    .gradient {
        height: 60vh;
    }
    .container {
        margin-top: 4vw;
        height: auto;
        padding: 2vw;
    }
    .top h1 {
        font-size: 6vw;
        line-height: 7vw;
    }
    .pg2bottomleft,
    .pg2bottomCneter,
    .pg2bottomRight {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 2vw;
    }
    .squre1 {
        height: 18vw;
        width: 18vw;
        font-size: 3vw;
        margin-bottom: 2vw;
    }
    .pg2bottomCneterImg1,
    .pg2bottomCneterImg2,
    .pg2bottomCneterImg3 {
        scale: 0.8;
        margin-top: 0;
        padding: 1vw;
    }
    .pg2bottomRight {
        font-size: 3vw;
        gap: 2vw;
    }
    .OpenACCBTN,
    .pg2BTN {
        padding: 1vw 2vw;
        font-size: 3vw;
        border-radius: 4vw;
    }
    .row1 h1 {
        font-size: 12vw;
        letter-spacing: 2vw;
    }
    .rowContent {
        flex-direction: column;
        gap: 2vw;
    }
    .rowC1 {
        width: 100%;
        margin-bottom: 2vw;
    }
    .rowCtext {
        font-size: 5vw;
        line-height: 4vw;
        width: 100%;
    }
    .rowCDescribtion {
        font-size: 3vw;
        line-height: 3vw;
        width: 100%;
    }
    .rowRound {
        font-size: 6vw;
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
    }
    .part-4 {
        flex-direction: column;
        height: auto;
        min-height: 80vh;
    }
    .lft-part-4,
    .rght-part-4 {
        width: 100%;
        padding: 2vw;
        margin-top: 0;
    }
    .lft-part-4 h1 {
        font-size: 8vw;
    }
    .cir-part-4 {
        width: 12vw;
        height: 12vw;
        font-size: 4vw;
    }
    .content-rght-part-4 h1 {
        font-size: 4vw;
    }
    .content-rght-part-4 p {
        font-size: 3vw;
        width: 100%;
    }
    .page5,
    .part-7 {
        height: auto;
        min-height: 60vh;
        flex-direction: column;
        padding: 2vw 0;
    }
    .our-work-txt,
    .our-work-txt-div {
        width: 90vw;
        height: auto;
    }
    #our,
    #work {
        font-size: 8vw;
        left: 0;
        right: 0;
        transform: none;
        position: static;
    }
    .scroll-work,
    .scroll-img,
    .imgdiv {
        height: auto;
        min-height: 20vh;
    }
    .imgdiv h1 {
        font-size: 6vw;
    }
    .page6 {
        height: 40vh;
    }
}

@media (max-width: 600px) {
    html,
    body {
        font-size: 12px;
    }
    .content {
        gap: 8px;
    }
    .imgcontainer {
        width: 40vw;
        min-width: 60px;
    }
    .herotext h3 {
        font-size: 12vw;
    }
    .scroll-down h4 {
        font-size: 4vw;
    }
    .scroll-p {
        width: 40vw;
        height: 4px;
    }
    .top h1 {
        font-size: 8vw;
    }
    .squre1 {
        height: 24vw;
        width: 24vw;
        font-size: 4vw;
    }
    .OpenACCBTN,
    .pg2BTN {
        font-size: 4vw;
    }
    .row1 h1 {
        font-size: 10vw;
    }
    .rowCtext {
        font-size: 7vw;
        line-height: 6vw;
    }
    .rowCDescribtion {
        font-size: 4vw;
        line-height: 4vw;
    }
    .rowRound {
        font-size: 8vw;
        width: 24vw;
        height: 24vw;
    }
    .lft-part-4 h1 {
        font-size: 10vw;
    }
    .cir-part-4 {
        width: 16vw;
        height: 16vw;
        font-size: 6vw;
    }
    .content-rght-part-4 h1 {
        font-size: 6vw;
    }
    .content-rght-part-4 p {
        font-size: 4vw;
    }
    #our,
    #work {
        font-size: 10vw;
    }
    .imgdiv h1 {
        font-size: 8vw;
    }
}